.form-alert > span {
    display: none;
}

.form-alert__succ {
    color: #008000;
}

.form-alert__wrong {
    color: #ff000f;
}

.tasks {
    margin-top: 100px;
}

.task {
    margin-bottom: 40px;
}

.task-completed h2 {
    text-decoration: line-through;
}

.card-body h4 {
    white-space: nowrap;
    margin-right: 100px;
}